.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #92badd;;
}

.title{
    margin-left: 300px;
    text-transform: uppercase;
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
    width: 600px;
    justify-content: center;
    align-items: center;
}

.label{
    font-weight: bold;
    text-transform: uppercase;
}

.input {
    height: 40px;
}

.input-element{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.select {
    width: 400px;
}

.create-button{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    width: 200px;
}

.back-button{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
}

.error {
    color:red;
    font-family: bold;
    text-transform: uppercase;
}
