.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.header {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}

.title{
    text-transform: uppercase;
    font-weight: bold;
    margin-top:10px;
    margin-left:300px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    align-items: center;
}

.label{
    font-weight: bold;
    text-transform: uppercase;
}

.input {
    height: 40px;
}

.input-element{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.error {
    color:red;
    font-family: bold;
    text-transform: uppercase;
}

.buttons{
    margin-bottom: 20px;
}