.link-muted {
    color: #aaa;
    border: none;
    background-color: white;
}

.link-muted:hover {
    color: #1266f1;
}

.comment {
    width: 600px;
}

.body {
    margin-bottom: 30px;
}