.card {
    width:450px;
}

.img {
    width: auto;
    height: 300px;
}

.title{
    margin-bottom: 20px;
    text-transform: uppercase;
}

.body {
    text-transform: uppercase;
}

.details-btn {
    border-style: none;
    background-color: #e3f2fd;
    padding: 5px 20px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.details-btn i{
    color: black;
    padding: 10px;
}

.like-btn {
    border-style: none;
    background-color: #e3f2fd;
    padding: 5px 20px;
    border-radius: 6px;
    margin-left: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.like-btn i {
    color: black;
    padding: 10px;
}

.comment-btn {
    border-style: none;
    background-color: #e3f2fd;
    padding: 5px 20px;
    border-radius: 6px;
    margin-left: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.comment-btn i{
    color: black;
    padding: 10px;
}

.footer {
    font-size: 20px;
    text-transform: uppercase;
}