.content{
    padding: 40px;
    background-color:  #e3f2fd;
}
.header{
    color: black;
    margin-bottom: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.main-body{
    display: flex;
    gap: 10px;
}

.body{
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.table {
    width: 700px;
    font-size: 16px;
    text-transform: uppercase;
}

.image img{
    width: 600px;
    height: 400px;
    position: relative;
    top: 10px;
    left: 60px;

}

.buttons{
    margin-top:20px;
}

.back-button{
    margin-right: 10px;
}
.footer{
    justify-content: flex-start;
}