.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  #e3f2fd;
    border-radius: 6px;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-bottom: 30px;
}

.header {
    display: flex;
    justify-content: center;
    background-color:  #e3f2fd;
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 290px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 600px;
    justify-content: center;
    align-items: center;
}

.label {
    font-weight: bold;
    text-transform: uppercase;
}

.input-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.input {
    height: 40px;
}

.select {
    width: 400px;
}

.create-button {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    width: 200px;
}

.back-button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
}