.content{
    padding: 40px;
}
.header{
    color: black;
    align-items: center;
    display: flex;
    justify-content: center;
}

.main-body{
    display: flex;
    gap: 10px;
    padding: 50px;
}

.body{
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    background-color: #e3f2fd;
    padding: 30px;
    border-radius: 10px;
}

.table {
    width: 700px;
    font-size: 16px;
    text-transform: uppercase;
}

.image-body {
    width: 900px;
    background-color: #e3f2fd;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.image{
    width: 800px;
    height: 500px;
    border-radius: 6px;
}

.buttons{
    margin-top:20px;
    position: relative;
    left: 800px;
}

.back-button{
    margin-right: 10px;
}

.comment-button{
    color: white;
}

.footer{
    justify-content: flex-start;
}